// ========== Responsive Navbar

@media screen and (max-width: 768px) {
	.navbar-horizontal {
		ul.nav-list > .nav-items:first-child {
			display: none;
		}

		ul.nav-list > .nav-items:only-child {
			display: block;
		}

		div.brand {
			display: block;
		}

		.flex-end {
			justify-content: flex-start;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 920px) and (min-height: 1024px) {
	.navbar-horizontal {
		ul.nav-list > .nav-items:first-child {
			display: block;
		}

		ul.nav-list > .nav-items:only-child {
			display: block;
		}

		div.brand {
			display: none;
		}

		.flex-end {
			justify-content: flex-end;
		}
	}
}