// ========== Layout Container

.container {
	.normal-container {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}
	
	.fluid {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	
	.inherit-height {
		height: inherit;
	}
	
	.inherit-width {
		width: inherit;
	}
	
}