// ========== Fonts
@font-face {
	src: url('../assets//fonts//Rubik-Regular.ttf');
	font-family: Rubik;
}

@font-face {
	src: url('../assets//fonts//Rubik-Bold.ttf');
	font-family: Rubik-Bold;
}

@font-face {
	src: url('../assets//fonts//Rubik-Light.ttf');
	font-family: Rubik-Light;
}

