// ========== Variables
$gray: #EDF1F5;
$dark: #2F323E;
$nav-item-color: #5E6F82;
$input-search-color: #EBEBEC;
$search-icon-color: #4C5667;
$card-title-color: #313131;
$green: #7ACE4C;
$green-text: #7ACE57;
$purple: #7460EE;
$purple-text: #7080DD;
$blue: #11A0F8;
$blue-text: #64BAF9;