// ========== Layout Navbar

.navbar {
	.nav {
		height: 100vh;
		position: fixed;
		width: 15.2%;
		background-color: white;
		z-index: 100;
		box-shadow: 1px 1px 10px -8px black;
	}

	.header {
		padding: 1.3rem .8rem;
		cursor: pointer;

		img.img {
			width: 20%;
			margin-right: .5rem;
		}
	
		.bold {
			font-family: Rubik-Bold;
		}

		.figure {
			display: flex;
			align-items: center;
		}

		.figcaption {
			font-size: 1.4rem;
		}
	}

	ul.nav-list {
		list-style: none;
		margin-top: 1rem;

		li.active {
			border-left: 3px solid #41B3F9;
			a.link {
				font-weight: bold;
			}
		}

		li.nav-items {
			height: 3.3rem;
			display: flex;
			align-items: center;
			width: 100%;
			font-size: 1rem;
			font-family: Rubik-Light;
			cursor: pointer;
			color: $nav-item-color;

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}

			.icon {
				margin-right: .8rem;
				color: inherit;
			}
		}

		li.nav-items > a.link {
			height: 100%;
			padding-left: 1.3rem;
			width: 100%;
			display: inline-flex;
			align-items: center;
			color: inherit;
			text-decoration: none;
		}
	}
}