// ========== Responsive Navbar

@media screen and (max-width: 920px) {
	.navbar {
		nav.nav {
			width: 3rem;
			box-shadow: none;

			ul.nav-list {
				margin-top: 0;

				li.nav-items {
					height: 2.5rem;
					padding-left: 0;
					width: 100%;
					margin-bottom: .3rem;

					&:last-child {
						margin-bottom: 0;
					}

					&.active {
						color: #41B3F9;
					}

					& > a.link {
						padding-left: 0;
						height: 100%;
						width: 100%;
						justify-content: center;
					}

					span.link-text {
						display: none;
					}
					.icon {
						margin-right: 0;
						font-size: 15px;
					}
				}
			}

			.header {
				display: flex;
				justify-content: center;
				figure.figure {
					img.img {
						position: relative;
						left: .2rem;
						width: 1.8rem;
					}
				}
			}

			figcaption.figcaption {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 920px) and (max-height: 280px) {
	.navbar {
		nav.nav {
			ul.nav-list {
				li.nav-items {
					margin-bottom: 0;
				}
			}
		}
	}
}