// ========== Sidebar Responsive

@media screen and (max-width: 600px) {
	.sidebar {
		aside.aside {
			position: static;
			width: 100%;
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
	.sidebar {
		aside.aside {
			width: 72%;
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
	.sidebar {
		aside.aside {
			position: static;
			width: 100%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 920px) and (orientation: portrait) {
	.sidebar {
		aside.aside {
			width: 73%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 920px) and (orientation: landscape) {
	.sidebar {
		aside.aside {
			width: 77%;
		}
	}
}

@media screen and (min-width: 920px) and (max-width: 1024px) {
	.sidebar {
		aside.aside {
			width: 78%;
		}
	}
}